body {
  font-family: "Poppins", sans-serif;
  background-color: #ffd3b6;
  color: #698474;
}

h1 {
  color: #698474;
  display: block;
  font-size: 30px;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 0;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  margin-top: 5px;
  padding: 0;
  color: 698474;
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
}
li:first-letter {
  text-transform: capitalize;
}
.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}
.weather-app {
  padding: 20px;
  border: 1.5px solid #698474;
  border-radius: 5px;
  background-color: white;
}
.overview {
  margin-bottom: 20px;
}
.weather-temperature img {
  margin-right: 10px;
  height: 104px;
  width: 104px;
}
.weather-temperature strong {
  color: #698474;
  font-size: 74px;
  font-weight: 400;
  line-height: 1;
}
.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}
#fahrenheit-link {
  text-decoration: none;
}
#celsius-link {
  text-decoration: none;
}
.weather-temperature .active {
  color: #698474;
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}
.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #698474;
}
.weather-forecast-date {
  font-size: 16px;
  opacity: 0.7;
}
.weather-forecast-temperature-min {
  opacity: 0.5;
}
.weather-forecast-temperature {
  font-size: 13px;
}
.conditions {
  position: relative;
  top: 5px;
}
.humid-style,
.wind-style {
  color: #698474;
  font-weight: 300;
}
#wind,
#humidity {
  font-weight: 200;
}

#icon {
  position: relative;
}
#city-input {
  border-color: #ffaaa5;
  background-color: #fcf8f3;
}
#city-input-btn {
  border-color: #ffaaa5;
  background-color: #ffaaa5;
  transition: all 250ms ease-in-out;
}
#fetch-current-data {
  border-color: #ffaaa5;
  background-color: #ffaaa5;
  opacity: 0.6;
  transition: all 250ms ease-in-out;
}
#fetch-current-data:hover {
  opacity: 1;
}
#city-input-btn:hover {
  opacity: 0.6;
}
